# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# PyCharm
.idea/

# Test/cache
.pytest_cache/
.coverage
src/application/internal_data.pkl

# Output files
data/outputs/*
!data/outputs/.gitkeep

# OS files
.DS_Store
Thumbs.db
